/* https://github.com/Infocatcher/UserStyles/tree/master/Addons_Manager_Counters */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("about:addons"), url("chrome://mozapps/content/extensions/extensions.xul") {
	.addon[active="true"] {
		counter-increment: addons-total addons-enabled !important;
	}
	.addon[active="false"] {
		counter-increment: addons-total addons-disabled !important;
	}
	.list:after {
		content: "Total: "counter(addons-total)" (enabled: "counter(addons-enabled)", disabled: "counter(addons-disabled)")" !important;
		white-space: pre !important;
		cursor: default;
		position: fixed !important;
		top: 0.33em !important;
		right: 0.7em !important;
		opacity: 0.65 !important;
		font-size: 1em !important;
		line-height: 1.2em !important;
	}
	#addons-page[title="Управление дополнениями"] .list:after {
		content: "Всего: "counter(addons-total)" (включено: "counter(addons-enabled)", выключено: "counter(addons-disabled)")" !important;
	}
	#view-port[selectedIndex="0"] .list:after {
		display: none !important;
	}
}