/* https://github.com/Infocatcher/UserStyles/tree/master/Compact_downloads */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("chrome://browser/content/browser.xul"),
	url("chrome://browser/content/places/places.xul"),
	url("about:downloads"),
	url("chrome://browser/content/downloads/contentAreaDownloadsView.xul") {
	#downloadsListBox {
		padding: 3px !important;
	}
	#downloadsSummary,
	richlistitem[type="download"],
	#downloadsRichListBox > richlistitem.download {
		height: auto !important;
	}
	#downloadsRichListBox > richlistitem.download {
		padding: 1px !important;
	}
	#downloadsSummary {
		padding: 1px 23px 1px 3px !important;
	}
	richlistitem[type="download"] {
		padding: 0 !important;
	}
	#downloadsHistory > .button-box {
		margin: 0.2em !important;
	}
	#downloadsSummaryDescription,
	.downloadTarget {
		margin: 0 3px !important;
	}
	.downloadDetails {
		margin: -1px 3px 0 !important;
	}
	.downloadTypeIcon {
		margin: 0 1px !important;
	}
	.download > .downloadTypeIcon {
		margin: 1px !important;
		-moz-margin-start: 3px !important;
	}
	.downloadButton {
		margin: 0 !important;
		padding: 5px 1px !important;
	}
	.downloadProgress {
		margin: 0 3px !important;
	}
	#downloadsSummaryDetails[value=""][tooltiptext=""] {
		height: 0 !important;
	}
	/* about:downloads page */
	#contentAreaDownloadsView {
		padding: 0 !important;
	}
	#contentAreaDownloadsView #downloadsRichListBox > scrollbox {
		padding: 1px !important;
	}

	/* Progress bar height */
	.downloadProgress {
		min-width: 20px !important;
		min-height: 10px !important;
		height: 10px !important;
	}
	.downloadProgress > .progress-bar {
		height: auto !important;
		min-height: 2px !important;
		max-height: 10px !important;
	}

	/* Paused downloads */
	.download-state[state="4"] .downloadProgress {
		/* Firefox 35 and older */
		filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
		/* Firefox 36+ */
		filter: grayscale(1);
	}
	.download-state[state="4"] .downloadProgress > .progress-bar,
	.download-state[state="4"] .downloadProgress > .progress-remainder {
		opacity: 0.85;
	}
}