/* https://github.com/Infocatcher/UserStyles/tree/master/Compact_downloads */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("chrome://browser/content/browser.xul"),
	url("chrome://browser/content/places/places.xul"),
	url("about:downloads"),
	url("chrome://browser/content/downloads/contentAreaDownloadsView.xul") {
	#downloadsListBox {
		padding: 4px !important;
	}
	#downloadsSummary,
	richlistitem[type="download"],
	#downloadsRichListBox > richlistitem.download {
		height: auto !important;
	}
	#downloadsRichListBox > richlistitem.download {
		padding: 1px 0 3px !important;
	}
	#downloadsSummary {
		padding: 2px 35px 2px 8px !important;
	}
	richlistitem[type="download"] {
		padding: 2px !important;
	}
	#downloadsHistory > .button-box {
		margin: 0.5em !important;
	}
	#downloadsSummaryDescription,
	.downloadTarget {
		margin: 1px 6px !important;
		-moz-margin-end: 5px !important;
	}
	.downloadDetails {
		margin: 0 6px 1px !important;
		-moz-margin-end: 5px !important;
	}
	.downloadTypeIcon {
		-moz-margin-end: 2px !important;
	}
	.downloadButton {
		margin: 2px !important;
		padding: 5px 3px !important;
	}
	.downloadProgress {
		min-height: 12px !important;
		height: 12px !important;
		margin: 1px 4px 0 !important;
	}
	#downloadsSummaryDetails[value=""][tooltiptext=""] {
		height: 0 !important;
	}

	/* Paused downloads */
	.download-state[state="4"] .downloadProgress {
		filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
	}
	.download-state[state="4"] .downloadProgress > .progress-bar,
	.download-state[state="4"] .downloadProgress > .progress-remainder {
		opacity: 0.85;
	}
}