/* https://github.com/Infocatcher/UserStyles/tree/master/Private_Tab_icon */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://navigator/content/navigator.xul") {
	/* Add icon to private tabs, https://addons.mozilla.org/addon/private-tab/ */
	.tabbrowser-tab[privateTab-isPrivate]:not([busy]) .tab-icon,
	.menuitem-iconic[privateTab-isPrivate] .menu-iconic-icon {
		/* Trick: change binding to break "src" attribute */
		-moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton") !important;
	}
	.tabbrowser-tab[privateTab-isPrivate]:not([busy]) .tab-icon > .toolbarbutton-icon,
	.menuitem-iconic[privateTab-isPrivate] .menu-iconic-icon > .toolbarbutton-icon {
		list-style-image: url("chrome://privatetab/content/privacy-16.png") !important;
		display: -moz-box !important;
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
	}
	.tabbrowser-tab[privateTab-isPrivate]:not([busy]) .tab-icon > .toolbarbutton-text,
	.tabbrowser-tab[privateTab-isPrivate]:not([busy]) .tab-icon > .toolbarbutton-multiline-text,
	.menuitem-iconic[privateTab-isPrivate] .menu-iconic-icon > .toolbarbutton-text,
	.menuitem-iconic[privateTab-isPrivate] .menu-iconic-icon > .toolbarbutton-multiline-text {
		display: none !important;
	}
}