@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {
	/* Add icon to private tabs, https://addons.mozilla.org/addon/private-tab/ */
	.tabbrowser-tab[privateTab-isPrivate] .tab-icon-image {
		/* Trick: change binding to break "src" attribute */
		-moz-binding: url("chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton") !important;
	}
	.tabbrowser-tab[privateTab-isPrivate] .tab-icon-image > .toolbarbutton-icon {
		list-style-image: url("chrome://browser/skin/Privacy-16.png") !important;
		display: -moz-box !important;
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		border: none !important;
	}
	.tabbrowser-tab[privateTab-isPrivate] .tab-icon-image > .toolbarbutton-text {
		display: none !important;
	}
}