/* Compact style for Brief 1.6.x Firefox extension
 * (c) Infocatcher 2009, 2011-2012
 * version 0.3.0b1 - 2012-07-21
 */

/* Limits for images in articles */
.content img {
	height: auto !important;
	width: auto !important;
	max-height: 170px !important;
	max-width: 200px !important;
}
/* Show original size arter mousedown on article */
.content:active img {
	max-height: none !important;
	max-width: none !important;
}

article.full {
	max-width: none !important;
	margin: 0 auto;
}

.full-container {
	margin: 0px 0 !important; /* The margins are collapsed in full view but are necessary if headlines view */
}
article.selected > .full-container {
    margin: 5px 5px !important;
}
article:first-child > .full-container {
	margin-top: 5px !important;
}
article:first-child.selected > .full-container {
	margin-top: 10px !important;
}


.header,
.content {
	font: 12px Verdana,Arial,Helvetica,sans-serif !important;
	word-wrap: break-word !important;
}

article.read .title-link {
	font-weight: normal !important;
}

.header {
    margin-bottom: 2px !important;
    padding: 5px 3px 0 24px !important;
}
.subheader {
	margin: 0 10px 0 26px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	line-height: 17px; /* Make the height the same for both Lucida and Verdana */
}
.controls {
	margin: -3px -1px 0 5px !important;
}
.content {
	padding: 3px 10px 6px;
}

.title-link {
	font-size: 13px !important;
	font-family: Verdana,Arial,Helvetica,sans-serif !important;
	border-bottom: 1px dashed #00394f !important;
}
.title-link:hover {
	border-bottom: 1px solid #00394f !important;
}

.content a {
	text-decoration: none !important;
	border-bottom: 1px dashed #0a1f72 !important;
}
.content a:hover {
	border-bottom: 1px solid #0a1f72 !important;
}
.content a:visited {
	border-bottom: 1px dashed #444b66 !important;
}
.content a:visited:hover {
	border-bottom: 1px solid #444b66 !important;
}

body.headlines-view > #feed-content {
	min-width: 450px !important;
	max-width: none !important;
	padding-left: 50px !important;
}
.day-header {
    text-transform: none !important;
}
.headline-container,
.headline-header {
	height: 26px !important;
}