/* https://github.com/Infocatcher/UserStyles/tree/master/Popup_fix */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* Stylize obsolete <popup> node like <menupopup>, for not yet updated extensions */
popup {
	-moz-appearance: menupopup;
	border: 3px solid transparent;
	-moz-border-top-colors   : ThreeDLightShadow ThreeDHighlight ThreeDFace;
	-moz-border-left-colors  : ThreeDLightShadow ThreeDHighlight ThreeDFace;
	-moz-border-right-colors : ThreeDDarkShadow  ThreeDShadow    ThreeDFace;
	-moz-border-bottom-colors: ThreeDDarkShadow  ThreeDShadow    ThreeDFace;
	padding: 0px;
	min-width: 1px;
	background: Menu;
}